h1, h2, h3, p{font-family:"Helvetica", sans-serif;}

.head{background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg")}

h1{color:Khaki;
text-align: center;
font-size:100px;
font-weight: bold;}

h2{font-size: 32px;
font-weight: bold;
color:white;}

#brush {background-color: mediumspringgreen;}
#frames {background-color: lightcoral;}
#paint {background-color: skyblue;}

.price{color:blue;font-weight: bold;}
